.mt-10 {
    margin-top: 10px;
}

.mt-50 {
    margin-top: 50px;
}

.is-accent {
    background-color: #039BE5;
    color: #fff;
}

.on-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
}